.background{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 10fr;
    width: 85vw;
    height: 20vh;
    background-color: rgb(250, 250, 250);
    border: 2px solid black;
    border-radius: 3px;
    margin: 5px 7.5vw;
    padding: 10px;
}

.image{
    max-height: 18vh;
    max-width: 50px;
    overflow: hidden;
    padding: 2px;
}

.imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.details{
    display: flex;
    justify-content: space-between;
}

.emptyCart{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
}

.minusBtn, .plusBtn{
    padding: 3px;
    margin: 3px;
}

.total{
    width: 85vw;
    height: 35px;
    background-color: rgb(235, 235, 235);
    border-bottom: 2px solid black;
    margin: 5px 7.5vw;
    padding: 10px;
    text-align: end; 
}

.total::before{
    content: 'Total amount: $';
}

.checkoutBtn{
    background-color: green;
    color: white;
    font-size: x-large;
    width: 30vw;
    border-radius: 5px;
    margin-left: 62vw;
}


/* .productInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
    height: 95%;
} */

/* .closeBtn{
    height: fit-content;
    border: 1px solid grey;
    border-radius: 50%;
    align-self: flex-end;
} */

/* .cartBtn{
    border: 2px solid blue;
    border-radius: 2px;
    justify-self: flex-end;
} */